<% include ../partials/header%>
<h1 class="text-center">Report:Top 20 Customers by Sales</h1>
<div class="jumbotron p-3 mb-2 bg-danger text-white ">
<table class="table p-3 mb-2 bg-warning text-dark"  >
    <thead>
        <tr class="text-success text-white bg-dark">
            <th >Name</th>
            <th>Email</th>
            <th>title</th>
            <th>Quantity</th>
            <th>Total Sales</th>
        </tr>
    </thead>
    <tbody id="myTable">
    <% users.forEach(function(user) { %>
        <tr>
            <td scope="row"><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.title %></td>
            <td><%= user.quantity %></td>
            <td>$<%= user.total %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
</div>
<% include ../partials/footer%>