<% include ../partials/header%>
<p></p>
<form action="/user/update" method="post">
<div class="jumbotron bg-warning text-dark">
<h1 class="display-4">USER</h1>
<div class="form-group">
  <label for="">ID</label>
  <input type="text"
    class="form-control text-white bg-dark" value="<%= users.user_id %>" name="user_id" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">user ID</small>
</div>
<div class="form-group">
<label for="">email</label>
  <input type="text"
    class="form-control text-white bg-dark" value="<%= users.email %>"name="email" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">user email</small>
</div>

<div class="form-group">
<label for="">password</label>
  <input type="text"
    class="form-control text-white bg-dark"value="<%= users.password %>" name="password" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">user password</small>
</div>

<div class="form-group">
<label for="">Time</label>
  <input type="text"
    class="form-control text-white bg-dark"value="<%= time %>" name="time" id="input" aria-describedby="helpId" placeholder="" disabled>
    <script>
        $('#input').datetimepicker({ footer: true, modal: true });
    </script>  
</div>


<div>
<a class="btn btn-secondary" href="/users" role="button">CANCLE</a>
<button type="submit" class="btn btn-success">SAVE</button>
<a name="btnConfirm" value="Confirm" OnClick="return confirm('Are you sure to delete')" class="btn btn-danger" href="/user_delete/<%= users.user_id %>" role="button">DELETE</a>
</div>

</div>
</form>





<% include ../partials/footer%>